<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <h1>Biblioteca - Sistema</h1>
      <nav>
        <a href="{{ url_for('books.catalog') }}">Catálogo</a>
        {% if current_user.is_authenticated %}
        <a href="#">Mi cuenta</a>
        <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
        <a href="{{ url_for('auth.register') }}">Registrarse</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for m in messages %}
            <li>{{ m }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>

    <footer>
      <small>Proyecto final - Programación III</small>
    </footer>
    <script src="/static/js/main.js"></script>
  </body>
</html>
